.brand a {
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.brand a h1{
    font-size: 2.9rem;
}

nav ul a{
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-right: 2.5rem;
}

.image-container{
    width:70px;
    height:70px;
    overflow:hidden;
    border-radius: 50%;
    border: 2px solid #ff0000;
}

.image-container img{
    width:100%;
    height:100%;
    object-fit: cover;
}

