.footer h1,.footer p {
    color: rgb(173, 173, 173);
}
.subscribe {
    width: 240px;
    height: 38px;
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 10px;
    outline: none;
}

.socials p:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

/* media query for mobile devices */
@media only screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .subscribe {
        margin-bottom: 20px;
        border-radius: 5px;
    }
    .socials {
        margin-bottom: 20px;
    }
    .news-letter {
        flex-direction: column;
    }
    .contact-us{
        margin-bottom: 50px;
        margin-top: 60px;
    }
    .contact-us p{
        margin-bottom: 10px;
    }
}